<section>

  <header class="flexed-apart">
    <h4>Channel</h4>
    <a href="">View all</a>
  </header>

  <main>
    <div class="iframe-container">
        <iframe src="https://www.youtube.com/embed/FshvS5lwe4A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="video-caption responsive-flex">
      <figcaption>
        <h4>Anselm Kiefer</h4>
        <p>In conversation with Tim Marlow</p>
        <p>In the Auditorium</p>
      </figcaption>
      <summary><p>In this film Anselm Kiefer discusses his work and his exhibition
‘Walhalla’ at White Cube Bermondsey with Tim Marlow.</p></summary>
    </div>
  </main>

</section>
