<div class="flexed-apart">
  <div class="contact-links">
    <a href="">Newsletter</a>
    <a href="">Contact</a>
    <a href="">Press rooms</a>
  </div>

  <div class="social-media">
    <img src="./assets/images/facebook.png" alt="facebook icon">
    <img src="./assets/images/twitter.png" alt="twitter icon">
    <img src="./assets/images/youtube.png" alt="youtube icon">
  </div>
</div>

<address>
  <p>EC1 GALLERY</p>
  <p>344 Clerkenwell Road</p>
  <p>London</p>
  <p>EC1 5RS</p>
  <p>Tel +44 (0) 207 123 4567</p>
</address>
