.lnr {
  color: #131313;
  font-size: 40px;
}

.lnr-menu {
  position: relative;
}

#nav-menu a:hover {
  text-decoration: underline;
}

#nav-menu {
  background: white;
  padding: 8px 24px;
  border-radius: 4px;
  border: 1px solid #E4E4E4;
  margin-right: 16px;
  position: absolute;
  top: 0px;
  right: 32px;
}

@media (max-width: 850px) {
  .lnr {
    font-size: 30px;
  }
}
