.container-page {
  width: 100%;
  padding: 60px;
  box-sizing: border-box;
  position: relative;
}

hr {
  border: 1px solid #E5E5E5;
  margin: 40px 0;
}

app-navbar {
  position: absolute;
  top: 60px;
  right: 60px;
}
