.container-page {
  width: 100%;
  padding: 60px 15vw;
  box-sizing: border-box;
  position: relative;
}

hr {
  border: 1px solid #E5E5E5;
  margin: 40px 0;
}

app-navbar {
  position: absolute;
  top: 60px;
  right: 60px;
}

@media (max-width: 1200px) {
  .container-page {
    padding: 60px;
  }
}

@media (max-width: 850px) {
  .container-page {
    padding: 30px;
  }
}
