<section>
  <header class="flexed-apart">
    <h4>News & Events</h4>
    <a href="">View all</a>
  </header>

  <main class="container-cards">
    <article class="card-news">
      <img src="https://www.distanz.de/media/image/bd/10/21/978-3-95476-132-6_HeXiangyu_252-253_1280x1280.jpg" alt="">
      <a href=""><h4>Exhibition: He Xiangyu monograph released by Distanz</h4></a>
      <p>From March 2016</p>
      <summary><p>
        He Xiangyu and Liu Wei are among
        74 international artists from 33
        countries chosen to feature in the
        Yinchuan Biennale 2016
      </p></summary>
    </article>

    <article class="card-news">
      <img src="https://sfmoma-media-dev.s3.us-west-1.amazonaws.com/www-media/2018/08/03024419/RunaIslam_hero-1024x765.png" alt="">
      <a href=""><h4>Exhibition: Runa Islam at SFMOMA, San Francisco</h4></a>
      <p>From March 2016</p>
      <summary><p>
        ‘Verso’, SFMOMA’s solo
        presentation of Bangladeshi-born
        British artist Runa Islam, features
        the US premiere of Cabinet of
        Prototypes (2009-10)
      </p></summary>
    </article>

    <article class="card-news">
      <img src="https://whitecube.com/media/w800/tracey-emin-living-masons-yard-2020-10.jpg" alt="">
      <a href=""><h4>Preview: White Cube Mason’s Yard</h4></a>
      <p>19 January 2017, 6 to 8pm</p>
      <summary><p>
        Join us at Mason's Yard, London for
        the preview of the new Park Seo-Bo
        exhibition curated by Katharine
        Kostyál. Curated by Katharine
        Kostyál
      </p></summary>
    </article>
  </main>
</section>
