.container-cards {
  display: flex;
  justify-content: space-between;
}

.card-news {
  width: 21vw;
}

.card-news summary {
  margin-top: 24px;
}

.card-news p, h4 {
  font-size: 20px;
  line-height: 32px;
}

.card-news h4 {
  margin-top: 24px;
}

.card-news img {
  width: 100%;
  height: 21vw;
  object-fit: cover;
}

.card-news a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .card-news {
    width: 27vw;
  }
  .card-news img {
    height: 27vw;
  }
}

@media (max-width: 800px, min-width: 651px) {
  .card-news {
    width: 27vw;
  }
  .card-news img {
    height: 27vw;
  }
  .card-news p, h4 {
    font-size: 16px;
    line-height: 28px;
  }
  .card-news summary, h4 {
    margin-top: 12px;
  }
}

@media (max-width: 650px) {
  .container-cards {
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
  }
  .card-news {
    width: 350px;
    margin-top: 60px;
  }
  .card-news img {
    height: 350px;
  }
}

