/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: "DINPro Bold";
}

h4 {
  font-size: 24px;
}

p {
  font-family: "DINPro Regular";
  font-size: 24px;
}

a {
  font-family: "DINPro Regular";
  font-size: 24px;
}

@font-face {
  font-family: "DINPro Regular";
  src: local("DINPro Regular"), url(./assets/fonts/DINPro Regular.otf) format("truetype");
}

@font-face {
  font-family: "DINPro Bold";
  src: local("DINPro Bold"), url(./assets/fonts/DINPro Bold.otf) format("truetype");
}
